:root {
   --color1: #F3F5FC;
   --color2: #EFF1FA;
   --color3: #E9ECF8;
   --color4: #AAB2D5;
   --color5: #757FB2;
   --color6: #052051;
}

body {
   /*tipografías para todo el sitio*/
   font-family: "IBM Plex Mono", monospace;
   font-weight: 100;
   font-size: 1rem;
   font-style: normal;
   width: 100%;
}

.logo {
   width: calc(20% -20px);
   margin: 1rem 1.5rem;
}

.titulo {
   text-align: center;
   margin: 0 0 1em;
   font-size: 2rem;
   clear: left;
   color: var(--color5);
   font-weight: 600;
}
.subtitulo {
   text-align: right;
   margin: 0 0 1em;
   font-size: 2rem;
   clear: left;
   color: var(--color5);
   font-weight: 200;
}

.encabezado-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color6);
   width: 100%;
   padding: 2%;
}

main {
   display:flex;
   
}

.entrada-flex , .salida-flex{
   width: 50%;
   display: flex;
   justify-content: left;
   background-color: var(--color3);
   width: 100%;
   padding: auto;
   border: 2px dotted var(--color4);
   margin: 2rem;
}

/* .salida-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color2);
   width: 100%;
   padding: auto;
} */

textarea{
   border: none;
   border-radius: 0.5rem;
   /* color: var(--color4); */
   margin-top: 1rem;
   text-transform: lowercase;
   font-size: 1rem;
   font-weight: 700;
}
.textarea:focus{
   outline: none;
   
}
::placeholder{
   color: var(--color5);
   font-size: 1rem;
   font-weight: 400;
}

.text-in{
   background-color: var(--color3);
}
.text-out{
   background-color: var(--color1);
   background-image: url(img/muñeco.png);
   background-repeat: no-repeat;
}

.botones-flex{
   display: flex;

}

.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
   width: 6rem;
   height: 2rem;
   color: var(--color6);
   padding: .1rem;
   margin: 1rem 1rem;
   border: 2px solid var(--color6);
   border-radius: 0.5rem;
   cursor: pointer;
}
.btn-encriptar{
   background-color: var(--color6);
   border-color: var(--color6);
   color: var(--color1);
}

.btn-desencriptar{
   background-color: var(--color5);
   border-color: var(--color5);
}

.btn-copiar{
   background-color: var(--color4);
   border-color: var(--color4);
}

.footer-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color4);
   width: 100%;
   padding: 2%;
}
