:root {
   --color1: #fefefe;
   --color2: #bbbbbb;
   --color3: #888888;
   --color4: rgba(14, 130, 165, 0.74);
   --color5: #000000;
   --color6: #555555;
}

body {
   /*tipografías para todo el sitio*/
   font-family: "IBM Plex Mono", monospace;
   font-weight: 100;
   font-style: normal;
}

main {
   display: flex;
   flex-flow: column;
}

.logo {
   width: calc(20% -20px);
   margin: 1rem 1.5rem;
}

.titulo {
   text-align: center;
   margin: 0 0 1em;
   font-size: 2rem;
   clear: left;
   color: var(--color5);
   font-weight: 600;
}
.subtitulo {
   text-align: right;
   margin: 0 0 1em;
   font-size: 2rem;
   clear: left;
   color: var(--color5);
   font-weight: 200;
}

.encabezado-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color6);
   width: 100%;
   padding: 2%;
}

.textos-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color3);
   width: 100%;
   padding: auto;
   border: 2px dotted var(--color5);
   margin: 2rem;
}

.botones-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color2);
   width: 100%;
   padding: auto;
}
#encriptar, #desencriptar, #copiar {
   width: 20%;
   padding: 2%;
   margin: 1rem 1rem;
   border: 2px solid var(--color5);
   border-radius: 0.5rem;
   cursor: pointer;
}

.footer-flex {
   display: flex;
   justify-content: center;
   background-color: var(--color4);
   width: 100%;
   padding: 2%;
}
